
body {
  font-family: Helvetica;
  margin: 0;
}
.wrapper {
  margin: auto;
  width: 80%;
}
.header {
  display: flex;
  justify-content:space-between;
}
.logo, .menu {
  display: inline-block;
}
.logo {
  // font: bold 24px/31px 'pt_serifbold',arial,Helvetica,sans-serif;
  width: 190px;
  height: 35px;
  // border: dashed 1px red;
  background: url('img/logo.svg');
}
.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  padding: 0 13px;
}
.menu__item:last-child {
  padding-right: 0;
}
p {
  font-family: arial;
}
.title {
  font-family: Roboto;
}
